<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Drawing</title>
</head>
<body>
    <x-app-layout>
        <h1>傷の位置を描いてみよう</h1>
        <canvas id="draw-area" width="400px" height="400px" style="border: 1px solid #000000;"></canvas>
        <button type="button" id="btn-send">サーバへ保存</button>
        <div>
            <button id="clear-button">全消し</button>
        </div>
        <script src="scar.js"></script>
    </x-app-layout>
</body>
</html>